<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Starting a Fire | Sons of the Forest Guides</title>
    <meta property="og:title" content="Starting a Fire | Sons of the Forest Guides" />
    <meta property="og:description" content="Find the best guides for Sons of the Forest!" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_UK" />
    <script>
        const redirectTo = (route) => {
            if (route == location.pathname)
                return;
            location.assign(route);
        }
    </script>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css" media="screen"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
</head>
<body>
    <h1>Starting a Fire</h1>
    <p>
        To start a fire in Sons of the Forest you need to meet a couple of requirements, to make
        this guide more accessible it has been divided in different categories.

        To start, press the following button:
    </p>
    <p>
        <button onclick="redirectTo('https://shorturl.at/M4p2m')">
            <p>First steps</p>
        </button>
    </p>
</body>
</html>