/* Sons of the Forest Themed CSS - Futuristic and Smooth */

/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    font-family: 'Exo', sans-serif; /* Futuristic font similar to Arial */
    background: #0b0b0b; /* Black toned background */
    color: #dcdcdc; /* Light text for contrast */
    overflow-x: hidden; /* Prevent horizontal scroll */
    line-height: 1.6;
    padding: 20px;
    transition: background 0.3s ease-in-out;
}

/* Header */
h1 {
    font-family: 'SonsOfTheForest', sans-serif; /* Custom font similar to the game's logo */
    color: #f4a261; /* Muted orange for contrast */
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7); /* Subtle shadow */
}

/* Paragraphs */
p {
    margin-bottom: 20px;
    font-size: 1.2em;
    transition: color 0.3s ease-in-out;
}

p:hover {
    color: #ffffff; /* Brighter text on hover */
}

/* Buttons */
button {
    background: linear-gradient(135deg, #264653, #2a9d8f); /* Gradient button background */
    color: #dcdcdc;
    padding: 12px 24px;
    border: none;
    border-radius: 25px; /* Rounded corners */
    font-size: 1.2em;
    cursor: pointer;
    transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Soft shadow */
    display: block;
    margin: 20px auto;
}

button:hover {
    background: linear-gradient(135deg, #2a9d8f, #264653); /* Reverse gradient on hover */
    transform: translateY(-3px); /* Slight lift on hover */
}

button p {
    margin: 0;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #2a2a2a;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background: #4a4a4a;
    border-radius: 5px;
    transition: background 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
    background: #6a6a6a;
}

/* Smooth transitions for body background and text */
body {
    transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
