
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sons of the Forest Guides</title>
    <meta property="og:title" content="Sons of the Forest Guides" />
    <meta property="og:description" content="Find the best guides for Sons of the Forest!" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_UK" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" type="text/css" media="screen"/>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
    <script>
        const redirectTo = (route) => {
            if (route == location.pathname)
                return;
            location.assign(route);
        }
    </script>
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@400;700&display=swap" rel="stylesheet">
    <style>
        @font-face {
            font-family: 'SonsOfTheForest';
            src: url('path/to/SonsOfTheForest-font.woff2') format('woff2'); /* Replace with actual font path */
            font-weight: normal;
            font-style: normal;
        }
    </style>
</head>
<body>
    <h1>Welcome to Sons of the Forest Guides!</h1>
    <p>
        Welcome to our website! Here you can find tutorials for the things that players have
        the most trouble with.
    </p>
    <p>
        Guides are not fully finished yet, but are going to be expanded as more information
        of things that Sons of the Forest players have trouble with is recieved.
    </p>
    <p>
        The guides can be accessed with the following buttons:
    </p>
    <p>
        <button onclick="redirectTo('/guides/starting-a-fire')">
            <p>Starting a Fire</p>
        </button>
    </p>
</body>
</html>
